*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.navbar{
    display: flex !important;
    align-items: center !important;
    padding: 0 !important;
    height: 40px !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar span{
    font-size: 0.8rem;
    color: #2492C9 !important;
}

.navbar span .bx-hash{
    color: #FF435D;
}

.bxs-grid{
    font-size: 20px !important;
    color: #2492C9 !important;
}

.dropdown-menu {
    left: -100px !important;
    border-radius: 0;
    font-size: 12px;
    border: none !important;
    background-color: #2492C9;
}

.dropdown-menu a{
    color: white !important;
}

.dropdown-toggle::after{
    content: none !important;
}

.collapse .btn{
    height: 27px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    width: 100px;
    background-color: #2492C9 !important;
    font-size: 13px;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-y:auto;
}

.init-section{
    height: 100%;
    width: 100%;
    background: url("../images/redes-sociais.gif") no-repeat center;
    background-size:30%;
}

.bg-light{
    background-color: white !important;
    box-shadow: 0 0 128px  0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}

.navbar-toggler{
    border-radius: 0 !important;
    font-size: 24px !important;
    border:1px solid transparent !important;
    background-color: transparent;
    color: #2492C9 !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}


.bxl-discord-alt{
    font-size: 23px !important;
    margin-right:5px;
    color: #FF435D;
}

.navbar-brand span{
    color: #2492C9;
}

.modal-login{
    border-radius: 0 !important;
}

.modal-login .btn{
    height: 27px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-size: 13px;
}

.modal-login .form-control{
    height: 30px !important;
    border-radius: 0;
    font-size: 12px;
}

.modal-login .modal-body{
    font-size: 12px !important;
}

.modal-login .modal-body img{
    width: 50px;
    border: 1px solid;
}

@media(max-width:700px){
    .init-section{
        background-size:70%;
    }
}

@media(max-width:550px){
    .init-section{
        background-size:90%;
    }
}

